<div class="page-header">
  <%= link_to users_path, :class => 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Dashboard
  <% end %>
  <h1>Meus dados</h1>
</div>

<%= render 'form' %>
