<div class="page-header">
  <h1>Minha Conta</h1>
</div>

Bla bla Bla

<div class="page-header">
  <h2>Apagar minha conta</h2>
</div>
<%= link_to 'Quero apagar minha conta', current_user, method: :delete, class: 'btn btn-danger', data: { confirm: 'Você tem certeza disso? Todos seus dados serão removidos portanto essa ação não terá retorno.' } %>
