<div class="row">
  <div class="col-lg-12">
    <div class="bs-example">
      <div class="jumbotron">
        <h1>MYGOAL</h1>
        <p>O MYGOAL é um gerenciador de treinamento físico que possibilita o acompanhamento do progresso de cada aluno através da supervisão de um profissional responsável.</p>

        <% unless current_user %>
          <p>
            <%= link_to "Cadastre-se agora, é grátis!", new_user_path, class: 'btn btn-primary btn-lg' %>
          </p>
        <% end %>
      </div>
    </div>
  </div>
</div>

<footer>
  <div class="row">
    <div class="col-lg-12">
      <p>&copy; 2014 MYGOAL</p>
    </div>
  </div>
</footer>
