<div class="page-header">
  <%= link_to users_path, :class => 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Voltar
  <% end %>
  <h1>PAR-Q <small>Questionário de Prontidão para Atividade Física</small></h1>
</div>

<p>Autoridades Canadenses desenvolveram esse questionário que deve ser aplicado antes do início de um programa de atividade física regular, visando identificar prováveis restrições e limitações à saúde.</p>

<%= render 'form' %>

<p>Se apenas uma das questões for respondida com um sim, seria recomendado uma avaliação de um medico antes do início do programa.</p>
<p>Este instrumento é apenas uma ferramenta na tentativa da identificação dos riscos com a prática da atividade física e não é infalível. Instituições como o Colégio Americano de Medicina Desportiva e a Sociedade Brasileira de Cardiologia, recomendam a realização de exames complementares como o teste de esforço, e o exame sangüíneo. Procedimentos recomendados principalmente para indivíduos sintomáticos, indivíduos com doenças conhecidas como a hipertensão arterial, a diabetes, a obesidade, as doenças cardiovasculares ou para indivíduos acima dos trinta e cinco anos.</p>
